.custom-loader {
  width: 80px;
  height: 80px;
  display: grid;
  color:#766DF4;
  -webkit-mask:radial-gradient(circle 5px,#0000 90%,#000);
  animation:sh3 1.5s infinite linear;
}
.custom-loader:before,
.custom-loader:after {
  content: "";
  grid-area: 1/1;
  background: 
    radial-gradient(farthest-side at bottom left, currentColor 94%,#0000) top left, 
    radial-gradient(farthest-side at top right  , currentColor 94%,#0000) bottom right;
  background-size: 63% 50%;
  background-repeat: no-repeat;
  -webkit-mask: 
    radial-gradient(65% 110% at bottom left, #0000 94%,#000) top left, 
    radial-gradient(65% 110% at top   right, #0000 94%,#000) bottom right;
  -webkit-mask-size: 62% 50%;
  -webkit-mask-repeat: no-repeat;
}
.custom-loader:after {
  transform: rotate(90deg);
}

@keyframes sh3 { 
  100%{transform: rotate(1turn)}
}